@using BungalowApp.Data;
@model BungalowApp.Data.Bungalow

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bungalow</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BungalowId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BungalowId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Slots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Slots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Smokers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Smokers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerNight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationListId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

